# VSCode settings
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS system files
.DS_Store

# Trash files
*.swp
*.swo
*.bak
*.tmp
*.log
*.Trash/
*.~*

# Environment files
.env
.venv/
env/
venv/

# Flume state files
taildir_position.json

/app/data_source/entity.csv
/app/data_source/exposure_sorted.csv
/app/data_source/news.csv
/app/data_source/news_entity.csv
/app/data_source/users.csv

.idea


# Other files
db
import_data.py
/app/data_source/exposure_sorted_dedup.csv
